<form action="/addGenre" method="POST" class="movieForm">
  <label for="genre_name">Genre:</label>
  <input type="text" name="genre_name" id="genre_name" />
  <button type="submit">Add</button>
</form>
