<form
  action="/genres/<%=genre.genre_id%>/update"
  method="POST"
  class="movieForm"
>
  <label for="genre_name">Genre:</label>
  <input
    type="text"
    name="genre_name"
    id="genre_name"
    value="<%=genre.genre_name%>"
  />

  <div class="passwordUpdateCont">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </div>

  <button type="submit">Add</button>
</form>
