<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/addDirector" method="POST">
      <label for="director_name">Director Name:</label>
      <input type="text" name="director_name" id="director_name" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
