<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/addGenre" method="POST">
      <label for="genre_name">Genre:</label>
      <input type="text" name="genre_name" id="genre_name" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
