<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="appCont">
      <div class="headerCont">
        <div class="titleCont">
          <h1><a href="/">Streamline</a></h1>
          <p>One place, all your content.</p>
        </div>

        <div class="headerBtnContDiv">
          <a href="/"><div class="headerBtnDiv">All Movies</div></a>
          <a href="/addMovie"><div class="headerBtnDiv">Add Movie</div></a>

          <a href="/genres"><div class="headerBtnDiv">Genres</div></a>
        </div>
      </div>
      <div class="mainCont">
        <div class="mainContHeader"></div>
        <h2><%=title%></h2>
        <div class="mainContBody">
          <%-include("partials/" + partial + ".ejs")%>
        </div>
      </div>
    </div>
  </body>
</html>
