div {
  /* border: solid red 2px; */
}

a {
  all: unset;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(10, 18, 28);
  color: white;
}

.appCont {
  margin: 0;
  padding: 1em;
}

.headerCont {
  display: flex;
  flex-direction: column;
}

.titleCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.titleCont h1 {
  font-size: 4em;
  margin-bottom: 10px;
}

.headerBtnContDiv {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.headerBtnDiv {
  display: flex;
  font-size: 1em;
  padding: 10px;
  width: 5em;
  border-radius: 30px;
  border: grey 1px solid;
}

.headerBtnDiv:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.mainContBody {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(22, 31, 41);
}

.movieHolderCont {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}

.gridItem {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.movieCard {
  align-self: center;
  height: 20em;
  width: 12.5em;
  border-radius: 20px;
  /* background: url('https://s3.amazonaws.com/nightjarprod/content/uploads/sites/192/2024/02/23130935/n0ybibhJtQ5icDqTp8eRytcIHJx-scaled.jpg'); */
}

.movieTextCont {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.648);
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.movieTextCont ul {
}

.movieTextList {
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

.gridItem:hover .movieTextCont {
  visibility: visible;
}

.movieInfo li {
  margin-bottom: 5px;
}

.movieBtnCont {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-self: flex-end;
}

.movieBtn {
  display: flex;
  padding: 5px;
  width: 3em;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.766);
}

.movieBtn:hover {
  background-color: rgba(255, 255, 255, 0.661);
}

/* Add Movie */

.movieForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.movieForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.movieForm input[type='text'],
.movieForm input[type='number'],
.movieForm select {
  width: 100%;
  padding: 5px 2px 5px 2px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.movieForm select[multiple] {
  height: 100px;
}

.movieForm button[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.movieForm button[type='submit']:hover {
  background-color: #45a049;
}

/* Genre List */
.genreList {
  list-style: none;
  padding: 0;
  font-size: 1.05em;
}

.listItem {
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem > a:first-child {
  margin-right: 40px;
  text-decoration: none;
  color: #007bff;
  font-size: larger;
}

.listItem > a:first-child:hover {
  text-decoration: underline;
}

.genreBtns {
  display: flex;
  gap: 10px;
}

.listBtn {
  border: 1px white solid;
  padding: 3px;
  border-radius: 3px;
}

.listBtn:hover {
  background-color: rgba(255, 255, 255, 0.196);
}

.addGenreLink {
  display: flex;
  width: fit-content;
}

.addGenreBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.addGenreBtn:hover {
  background-color: #45a049;
}

/* View Movie */

.viewMovieCont {
  display: flex;
  /* justify-content: space-around; */
  justify-self: center;
  gap: 40px;
}

.viewMovieCont > .movieCard {
  height: 30em;
  width: 17.5em;
}

.viewMovieTextList {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
}

.viewMovieCont li {
  font-size: large;
}

/* Errors  */

ul.errorList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

ul.errorList li {
  color: #dc3545; /* Bootstrap danger color */
  margin-bottom: 5px;
}

/*     Modal */

/* .genreDeleteModal {
  display: none;
} */

.deleteModal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 9999; /* Ensure it appears on top */
}

.modalContent {
  border: white solid 1px;
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  margin: 15% auto; /* Center vertically */
  width: 300px; /* Adjust width as needed */
}

.passwordCont {
  margin-bottom: 15px;
}

.passwordCont label {
  display: block;
  margin-bottom: 5px;
}

.passwordCont input[type='text'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.deleteModal button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
